#page-body{
    background: url("../img/iris-2502898_1920.jpg") no-repeat fixed;
    height: 800px;
}

.card {
    background: rgb(218, 159, 241);
    border-radius: 2px;
    height: 500px;
    margin: 5rem 15rem;
    position: relative;
    width: 400px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: center;
    padding-bottom: 65px;
  }
  
  #search-form{
    background-color: plum;
    align-content: center;
    width: 550px;
    height: 100px;
    border-radius: 5px;
  }

  .search-form-cont{
  align-content: center;
   padding-left: 150px;
  }

  #search-form{
    text-align: center;
    padding: 35px;
  }

  .search-input{
    width: 200px;
    margin: 0px 10px;
    background-color: white;
  }

  .card-title{
    color: rgb(29, 33, 34);
    font-family: 'Bad Script', cursive;
  }

  .card-btn {
    background-color: pink;
  }

  .page-body{
    padding: 50px 200px
  }

  .btn-search{
    width: 100px;
    height: 39px
  
  }

  #search-label{
    font-family: 'Cardo', serif;
  }